// Importando fuentes: Roboto, JetBrains, Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// Mixis

@mixin headings { // Aplica a todos los headers
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}

@mixin tablet {
  @media (pointer : coarse) {
    @content;
  }
}

:root{

  //  Tipografias básicas
  --ff: Roboto, sans-serif;
  --ff-h: "Source Sans Pro", sans-serif;
  --ff-mono: "JetBrains Mono", monospace;

  // Paleta de colores
  --clr-primary: #2F46E3;
  --clr-alternate: #AD5829;
  --clr-text: #1C1C1C;
  --clr-bg: #D8D8D8;
  --clr-card: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 100%);
  --clr-white: #FFF;

  --shadow: 5px 10px 20px 1px rgba(128,128,0,0.2)
}

body {
  background: var(--clr-white)
}

@include headings {
  font-family: var(--ff-h);
  color: var(--clr-primary);
}

p {
  font-family: var(--ff);
}

.wrapper {
  max-width: 1000px;
  margin:0 auto;
}

.cards_frame {
  display: flex;
  gap: 2em;
  // grid-template-columns: repeat(6, auto);
  // overflow-x: scroll;
  padding: 2em 0.5em;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(200,200,200, 0.3);
  background: var(--clr-card);
  padding: 2em;
  width: 250px;
  height: 350px;
  border-radius: 100px 20px 20px 20px;
  box-shadow: var(--shadow);
  transition: all 300ms ease-in-out;
  animation: fade-in-right 1s backwards;


  // Delay animación de entrada
  @for $i from 1 through 6 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }

  // Rotación, traslado y crecimiento al pasar mouse
  &:hover{
    z-index: 2;
    transform: translate(-.5em, -1em) rotate(-5deg) scale(1.05);
  }

  // Traslado tarjetas restantes
  &:hover~&{
    transform: translateX(200px);
  }

  // Coloca tarjetas restantes una sobre la otra
  &:not(:first-child){
    margin-left: -250;
  }

  &__price {
    font-family: var(--ff-h);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    color: var(--clr-primary);
    // text-align: center;
  }

  &__igv {
    text-align: center;
  }

  // Configuración imagen
  &__img {
    display: block;
    max-width: 100%;
    // max-height: 100%;
    height: 120px;
    width: auto;
    // width: 120px;
    margin: 0 auto;
    // padding: 1em;
  }

  // Configuración icono
  &__i {
    color: var(--clr-primary);
    height: 120px;
    width: auto;
    margin: 0 auto;
    font-size: 6em;
  }

  &__info {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1;

    p {
      margin: 0.2em 0;
    }
  }
}

// Animaciones

@keyframes fade-in-right {
  0% {
    transform: translateX(100%) translateY(20%) rotate(10deg);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

// Modo tablet
@include tablet {
  .cards_frame{
    flex-wrap: wrap;
    gap: 1em;
  }

  .card:not(:first-child){
    margin-left: 0px;
  }

  @for $i from 1 through 6 {
    .card:nth-child(#{$i}n) {
      order: #{7 - $i};
    }
  }
}
