.section {
    margin: 0 0 0;
    padding: 2em 1em;
    
    /*&--hero {
        min-height: 100vh;
    }*/

    &--red a {
        color: white !important;
    }

    &--red a:hover {
            text-decoration: underline;
        }
}


.group--centered {
    max-width: 1200px;
    margin: 0 auto;
}

.logos {

    .wp-block-column {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   
   .logos img {
       max-height: 120px;
       width: auto;
   }
}


.formulario {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
    background-color: #ccc;
    
    &__left {
        padding: 3em;
    }
    &__right {
        background-color: white;
        padding: 2em;
        border-radius: 0 4px 4px 0;
    }
}

.cards {
    display: flex;
    flex-flow: row wrap !important;
    gap: 2em;
    margin: 2em 0;
    justify-content: space-between;
    
    & .wp-block-column {
      flex: 1 0 20em;
      padding: 2em;
      border: 1px solid rgba(128,128,128,0.3);
      border-radius: 5px;
      margin: 0 !important;
    }
  }

.block-padding .wp-block-media-text__content {
    padding: 2em 3em;
}
