// Mixins

@mixin phone {
  @media only screen and (max-device-width: 600px) { @content; }
}

@mixin tablet {
  @media (pointer : coarse) {
    @content;
  }
}

// Estilos generales --------------------------------------------------------

:root {
  --ff-h: "Source Sans Pro", sans-serif;
  --shadow: 5px 10px 20px 1px rgba(128,128,128,0.2);
  --glow: 0px 0px 15px 0px rgba(0,0,0,0.5);
  --clr-card: linear-gradient(315deg, var(--paletteColor8) 0%, var(--paletteColor7) 100%);
}

html { scroll-behavior: smooth; } // Asegura un scrolling suave

.seccion{                       // Retira margenes tema Blocksy
  margin-bottom: 0;
  padding: 5em 0;

  &--oscura{ color: var(--paletteColor8);} // Paleta Blocksy
  &--full-screen{ min-height: 100vh;}

}

@include phone {
  .seccion {
    padding: 3em 0;
    &--full-screen { min-height: auto; }
  }
}

.fade-in-up     { animation: fade-in-up 2s backwards; }
.fade-in-right  { animation: fade-in-right 2s backwards; }
.fade-in-down   { animation: fade-in-down 2s backwards; }
.fade-in-left   { animation: fade-in-left 2s backwards; }

.screenshot {
  border-radius: 10px;
  box-shadow: var(--shadow);
  animation: fade-in-right 2s backwards;
  animation-delay: 1s;
}

// Secciones específicas ----------------------------------------------------

.portada {
  min-height: calc(100vh - 134px);
  padding: 0;
}

@include phone {
  .portada, .entry-content > :first-child {
    margin-top: 0 !important;
  }
}

.slogan { font-size: 4.4rem; }

@include phone {
  .slogan { font-size: 2.9rem; }
}

// Productos

.productos_frame {
  display: flex;
  gap: 2em;
  padding: 2em 0.5em;
  justify-content: center;
}

.producto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(200,200,200, 0.3);
  background: var(--clr-card);
  padding: 2em;
  width: 350px;
  height: 460px;
  border-radius: 100px 20px 20px 20px;
  box-shadow: var(--shadow);
  transition: all 300ms ease-in-out;
  animation: cards-in-right 1s backwards;

  &__title{font-size: 1.5rem}

  // Delay animación de entrada
  @for $i from 1 through 6 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }

  // Rotación, traslado y crecimiento al pasar mouse
  &:hover{
    z-index: 2;
    transform: translate(-.5em, -1em) rotate(-5deg) scale(1.05);
  }

  // Traslado tarjetas restantes
  &:hover~&{
    transform: translateX(200px);
  }

  // Coloca tarjetas restantes una sobre la otra
  &:not(:first-child){
    margin-left: -250px;
  }

  &__price {
    font-family: var(--ff-h);
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    color: var(--paletteColor1);
  }

  &__igv {
    text-align: center;
  }

  // Configuración imagen
  &__img {
    display: block;
    max-width: 100%;
    height: 120px;
    width: auto;
    margin: 0 auto;
  }

  // Configuración icono
  &__i {
    color: var(--paletteColor1);
    height: 120px;
    width: auto;
    margin: 0 auto;
    font-size: 6em;
  }

  &__info {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1;

    p {
      margin: 0.2em 0;
    }
  }
}

// Modo responsive
@include tablet {
  .productos_frame{
    flex-wrap: wrap;
    gap: 1em;
  }

  .producto:not(:first-child){
    margin-left: 0px;
  }

  @for $i from 1 through 6 {
    .producto:nth-child(#{$i}n) {
      order: #{7 - $i};
    }
  }
}

// Portafolio
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

.item_galery {
  position: relative;
  background: var(--paletteColor8);
  flex: 1 1 330px;
  min-width: 250px;
  margin: 1em;
  transition: all 0.4s ease-in-out 0s;
  box-shadow: var(--glow);
  animation: fade-in-up 1s backwards;

  // Delay animación de entrada
  @for $i from 1 through 6 {
    &:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }

  &:hover, &:active {
    transform: scale(1.1);
    z-index: 1;
  }
  &:hover &__overlay { opacity: 1; }

  &:hover &__description { visibility: visible; }

  &__title{font-size: 1.5rem}

  &__description { 
    color: var(--paletteColor7); 
    line-height: 1;
  }

  &__img {
    width: 100%; 
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
  }

  &__details {
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    padding: 1.5em;
  }
}

// Animaciones --------------------------------------------------------------

.rocket-launch {
  animation: rocket-launch 500ms ease-out forwards;
  animation-delay: 5s
}

@keyframes fade-in-up {
  0%    {opacity:0; transform: translateY(100%);}
  100%  {opacity: 1;}
}

@keyframes fade-in-right {
  0%    {opacity:0; transform: translateX(100%);}
  100%  {opacity: 1;}
}

@keyframes fade-in-down {
  0%    {opacity:0; transform: translateY(-100%);}
  100%  {opacity: 1;}
}

@keyframes fade-in-left {
  0%    {opacity:0; transform: translateX(-100%);}
  100%  {opacity: 1;}
}

@keyframes cards-in-right {
  0% {
    transform: translateX(100%) translateY(20%) rotate(10deg);
    opacity: 0%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes rocket-launch {
  0% {opacity: 1;}
  100% {opacity: 0; transform: translateY(-100%);}
}

@keyframes flip-in-x {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  60% { opacity: 1; }

  to {
    transform: perspective(400px);
  }
}
